<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <title>Portfolio</title>
  </head>

  <body>
    <div class="frame">
      <div class="main_frame">
        <!-- LEFT FRAME -->
        <div class="left_frame">
          <div class="left_1">
            <div class="left_1_1">
              <img
                src="images/Profile.png"
                width="156px"
                height="142px"
                alt=""
              />
            </div>
            <div class="left_1_2"><%=user.name%></div>
            <div class="left_1_3"><%=user.profession%></div>
            <div class="left_icons">
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Facebook.svg" class="icon_1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Instagram.svg" class="icon_1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Twitter.svg" class="icon_1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Linkeding.svg" class="icon_1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Youtube.svg" class="icon_1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Dribbble.svg" class="icon_1" />
                </div>
              </a>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_2">
            <div class="info_row">
              <span class="label" style="width: 46.21px; height: 24px"
                >Age:</span
              >
              <span><%= user.age %></span>
            </div>
            <div class="info_row">
              <span class="label" style="width: 89px; height: 24px"
                >Residence:</span
              >
              <span><%= user.residence %></span>
            </div>
            <div class="info_row">
              <span class="label" style="width: 85px; height: 24px"
                >Freelance:</span
              >
              <span class="available"><%= user.freelance %></span>
            </div>
            <div class="info_row">
              <span class="label" style="width: 75px; height: 24px"
                >Address:</span
              >
              <span><%= user.address %></span>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_3">
            <h3 class="section_title">Languages</h3>
            <div class="language">
              <div class="lang">
                <span class="languages_name"><%= user.languages[0] %></span>
                <span class="language_percentage">100%</span>
              </div>

              <div class="percentage_border">
                <div class="percentage_progress" style="width: 100%"></div>
              </div>
            </div>
            <div class="language">
              <div class="lang">
                <span class="languages_name"><%= user.languages[1] %></span>
                <span class="language_percentage">80%</span>
              </div>

              <div class="percentage_border">
                <div class="percentage_progress" style="width: 80%"></div>
              </div>
            </div>
            <div class="language">
              <div class="lang">
                <span class="languages_name"><%= user.languages[2] %></span>
                <span class="language_percentage">60%</span>
              </div>

              <div class="percentage_border">
                <div class="percentage_progress" style="width: 60%"></div>
              </div>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_4">
            <h3 class="section_title">Skills</h3>

            <div class="language">
              <div class="lang">
                <span class="language_name">HTML</span>
                <span class="language_percentage">90%</span>
              </div>
              <div class="percentage_border">
                <div class="percentage_progress" style="width: 90%"></div>
              </div>
            </div>

            <div class="language">
              <div class="lang">
                <span class="language_name">CSS</span>
                <span class="language_percentage">85%</span>
              </div>
              <div class="percentage_border">
                <div class="percentage_progress" style="width: 85%"></div>
              </div>
            </div>

            <div class="language">
              <div class="lang">
                <span class="language_name">JS</span>
                <span class="language_percentage">80%</span>
              </div>
              <div class="percentage_border">
                <div class="percentage_progress" style="width: 70%"></div>
              </div>
            </div>

            <div class="language">
              <div class="lang">
                <span class="language_name">PHP</span>
                <span class="language_percentage">75%</span>
              </div>
              <div class="percentage_border">
                <div class="percentage_progress" style="width: 75%"></div>
              </div>
            </div>

            <div class="language">
              <div class="lang">
                <span class="language_name">WordPress</span>
                <span class="language_percentage">85%</span>
              </div>
              <div class="percentage_border">
                <div class="percentage_progress" style="width: 85%"></div>
              </div>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_5">
            <h3 class="section_title">Extra Skills</h3>

            <div class="extra_skill">
              <span class="skill_icon"
                ><img src="icon/Icons.svg" alt=""
              /></span>
              <span>Bootstrap, Materialize</span>
            </div>

            <div class="extra_skill">
              <span class="skill_icon"
                ><img src="icon/Icons.svg" alt=""
              /></span>
              <span>Stylus, Sass, Less</span>
            </div>

            <div class="extra_skill">
              <span class="skill_icon"
                ><img src="icon/Icons.svg" alt=""
              /></span>
              <span>Gulp, Webpack, Grunt</span>
            </div>
            <div class="extra_skill">
              <span class="skill_icon"
                ><img src="icon/Icons.svg" alt=""
              /></span>
              <span>GIT Knowledge</span>
            </div>
          </div>
          <div class="marginer"></div>
        </div>
        <!-- MIDDLE FRAME-->
        <div class="midd_frame">
          <div class="mid_top">
            <img src="icon/Polygon 1.svg" class="stars_1" alt="" />
            <img src="icon/Ellipse 12.svg" class="stars_2" alt="" />
            <img src="icon/Ellipse 13.svg" class="stars_3" alt="" />
            <img src="icon/Ellipse 16.svg" class="stars_4" alt="" />
            <img src="icon/Rectangle 52.svg" class="stars_5" alt="" />
            <img src="icon/Rectangle 51.svg" class="stars_6" alt="" />
            <div class="top_left">
              <h1><%= user.work_place %></h1>
              <p><%= user.about_me %></p>
              <button>
                HIRE ME
                <i
                  class="fa-solid fa-arrow-right"
                  style="color: rgb(0, 0, 0)"
                ></i>
              </button>
            </div>
            <div class="top_right">
              <img src="images/Your Image 1.png" alt="" />
            </div>
          </div>
          <div class="mid_bottom">
            <div class="service_top">
              <h2>MY Services</h2>
              <p><%= user.service_desc %></p>
            </div>
            <div class="service_bott">
              <div class="wrapper_top">
                <div class="wrap_card">
                  <img src="icon/Icons_coding.svg" alt="" />
                  <h3>Web Development</h3>
                  <p>Blog, E-commerce</p>
                </div>
                <div class="wrap_card">
                  <img src="icon/Icons_illustration.svg" alt="" />
                  <h3>UI/UX Design</h3>
                  <p>Mobile App, Web Design</p>
                </div>
                <div class="wrap_card">
                  <img src="icon/Icons_microphone.svg" alt="" />
                  <h3>Sound Design</h3>
                  <p>Voice-over, Beat Making</p>
                </div>
              </div>
              <div class="wrapper_bottom">
                <div class="wrap_card">
                  <img src="icon/Icons_coding.svg" alt="" />
                  <h3>Game Design</h3>
                  <p>Character Design, props & Objects</p>
                </div>
                <div class="wrap_card">
                  <img src="icon/Icons_coding.svg" alt="" />
                  <h3>Photography</h3>
                  <p>Portrait, Product, Photography</p>
                </div>
                <div class="wrap_card">
                  <h3>Advertising</h3>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Consequuntur magnam nesciunt laboriosam.
                  </p>
                  <a href="" class="order_link"
                    >ORDER NOW
                    <img src="icon/Vector.svg" alt="" style="margin-left: 5px"
                  /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- RIGHT FRAME -->
        <div class="right_frame">
          <div class="moon_icon">
            <img src="menu_icon/Contrast.svg" alt="" />
          </div>
          <div class="right_menu">
            <img src="menu_icon/Home.svg" alt="" />
            <img src="menu_icon/Service.svg" alt="" />
            <img src="menu_icon/Cv.svg" alt="" />
            <img src="menu_icon/Portfolio.svg" alt="" />
            <img src="menu_icon/Blog.svg" alt="" />
            <img src="menu_icon/Contact.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
